<div class="ui col-10 d-flex flex-column justify-content-between" style="margin-left: 8.33%;">
    <div class="row d-flex justify-content-between">
        <div class="col-6">
            <h1 style="text-align: start;">Orders</h1>
        </div>
        <div class="col-6" style="text-align: end;">
            <button class="btn btn-success" (click)="orderModal(newOrderm)">New Order</button>
        </div>
    </div>
    @for (alert of alerts; track alert) {
        <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
        }
    <div ngbAccordion class="mb-5">
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Filter</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody class="p-0">
                    <ng-template>
                        <div ngbAccordion [closeOthers]="true">
                            <div ngbAccordionItem>
                                <h2 ngbAccordionHeader>
                                    <button ngbAccordionButton class="ps-5">Order By state</button>
                                </h2>
                                <div ngbAccordionCollapse>
                                    <div ngbAccordionBody>
                                        <ng-template>
                                            <div class="form-check">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Open
                                                </label>
                                                <input (click)="getOrdersState(0)" class="form-check-input" type="radio"
                                                    name="flexRadioDefault" id="flexRadioDefault1">
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Occupied
                                                </label>
                                                <input (click)="getOrdersState(1)" class="form-check-input" type="radio"
                                                    name="flexRadioDefault" id="flexRadioDefault1">
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Closed
                                                </label>
                                                <input (click)="getOrdersState(2)" class="form-check-input" type="radio"
                                                    name="flexRadioDefault" id="flexRadioDefault1">
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div ngbAccordionItem>
                                <h2 ngbAccordionHeader>
                                    <button ngbAccordionButton class="ps-5">Order By price</button>
                                </h2>
                                <div ngbAccordionCollapse>
                                    <div ngbAccordionBody>
                                        <ng-template>
                                            <div class="form-check">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Asc
                                                </label>
                                                <input (click)="getOrdersPage(true)" class="form-check-input"
                                                    type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Desc
                                                </label>
                                                <input (click)="getOrdersPage(false)" class="form-check-input"
                                                    type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div ngbAccordionItem>
                                <h2 ngbAccordionHeader>
                                    <button ngbAccordionButton class="ps-5">Order By tag</button>
                                </h2>
                                <div ngbAccordionCollapse>
                                    <div ngbAccordionBody>
                                        <ng-template>
                                            <label for="tag" class="form-label">Type a tag</label>
                                            <input class="col-3" type="text" id="tag" class="form-control"
                                                aria-describedby="tagSort" #tagInput>
                                            <button (click)="getOrdersTag(tagInput.value)"
                                                class="btn bg-success text-white m-2">sort</button>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div *ngFor="let i of items">
        <app-order-cards (click)="details(i.id)" [order]="i"></app-order-cards>
    </div>
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalItems" [(page)]="page"
        [pageSize]="pageSize" (pageChange)="onPageChange($event)">
        <ng-template ngbPaginationFirst>First</ng-template>
        <ng-template ngbPaginationLast>Last</ng-template>
        <ng-template ngbPaginationPrevious>Prev</ng-template>
        <ng-template ngbPaginationNext>Next</ng-template>
        <ng-template ngbPaginationEllipsis>...</ng-template>
        <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
    </ngb-pagination>

</div>

<ng-template #newOrderm let-modal>
    <div class="modal-header bg-success">
        <h4 class="modal-title text-white" id="modal-basic-title">New Order</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form id="editForm" class="form-editOrder" [formGroup]="newOrderForm" (ngSubmit)="newOrder()">
            <div class="mb-3 mt-3">
                <label for="title" class="form-label">Title:</label>
                <input formControlName="title" type="text" class="form-control" id="title" placeholder="Enter title"
                    name="title">
            </div>
            <div class="mb-3 mt-3">
                <label for="price" class="form-label">price:</label>
                <input formControlName="price" type="number" class="form-control" id="price" placeholder="Enter price"
                    name="title">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea formControlName="description" class="form-control" rows="5" id="description"
                    name="text"></textarea>
            </div>
            <label for="comment">Tags: (must be separated by comas)</label>
            <textarea formControlName="tags" class="form-control" rows="5" id="comment" name="text"></textarea>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" form="editForm" (click)="modal.close('save')">Create new
            order</button>
    </div>
</ng-template>